// default page settings
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &::selection {
    background: $primary-brand-color;
    color: #fff;
  }
}

html,
body {
  font-size: $fs0;
  font-family: $primary-font;
  color: $primary-body-color;
}


.column.main {
  max-width: 100%;
  min-height: 0 !important;
}

.is-blog.wordpress-post-view.page-layout-1column {
  .column.main {
    padding-bottom: 0 !important;
  }
}

// == stop page scrolling when modal is open
body._has-modal {
  position: fixed;
  top: 0;
  left: 0;
}

// default heading sizes
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  color: $primary-header-color;
}

// default link styles
a {
  @include link();
}

p {
  line-height: 1.8;
}


// default input settings
input[type="text"],
input[type="number"],
input[type="email"] {
  @include input();
}

select{
  height: 50px;
  border: solid 1px $grey-border !important;
}

input[type="checkbox"] {
  height: auto !important;
}

textarea {
  font-family: $primary-font;
  border-color: $grey-border;

  &:focus {
    box-shadow: 0 0 3px 1px $primary-brand-color !important;
  }
}
