// Text colors
$primary-header-color: #2b2b2d;
$primary-body-color: #929292;

// Brand colors
$primary-brand-color: #9fd063;
$opacity-brand-color: rgba(159, 208, 99, 0.81);
$hover-brand-color: #6b914e;

// Greys
$grey-link: #8e979e;
$grey-dark: #212a2f;
$grey-light: #f3f4f6;
$grey-border: #dce0e1;

// Social Colors
$paypal-yellow: #FEC627;
$twitter-brand-color: #55acee;
$facebook-brand-color: #3b5998;
$pintrest-brand-color: #cb2027;
$youtube-brand-color: #ff0000;