.logo {
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 78px;

  @media (min-width: $screen__m) {
    max-width: 114px;
    margin: -3px 0 0 18px;
  }
  @media (min-width: $screen__xl) {
    margin: 14px auto 11px -4px !important;
  }
}