.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid $grey-border;

  @media (min-width: $screen__m) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: $screen__xl) {
    margin-left: 0;
    margin-right: 0;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      font-size: 0.9rem !important;
      font-weight: 400;
      color: $primary-body-color;

    }
  }

  strong {
    font-weight: 400;
  }

  a {
    @include link($primary-body-color !important, $hover-brand-color !important);
  }
}
