// Adds icon to accordion dropdown headings
// Change width value defines when icon should disappear
@mixin accordion-heading($changeWidth: $screen__m, $backgroundSize: 24px) {
  @include bg-image('../images/icons/chevron-down.svg');
  background-position: right 5px center;
  background-size: $backgroundSize;
  cursor: pointer;

  @media (min-width: $changeWidth) {
    background-image: none;
  }

  &.active {
    @include bg-image('../images/icons/chevron-up.svg');
    background-position: right 5px center;
    background-size: $backgroundSize;

    @media (min-width: $changeWidth) {
      background-image: none;
    }
  }
}