@mixin button($color: $primary-brand-color, $hover-color: $hover-brand-color, $height: 50px) {
  background: $color;
  border: 2px solid $color;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  font-family: $primary-font;
  @include border-radius(2px);
  transition: ease all .3s;

  span {
    color: #FFF;
    font-size: $fs0;
    max-width: 100%;
    margin: 0 auto;
  }

  &:hover,
  &:active,
  &:focus {
    border: 2px solid $hover-color;
    background: $hover-color;
    box-shadow: none;

    span {
      color: #FFF;
    }
  }
}




@mixin button-secondary($color: transparent, $hover-color: $primary-brand-color, $height: 50px) {
  background: $color;
  border: 2px solid $hover-color;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  font-family: $primary-font;
  @include border-radius(2px);
  transition: ease all .3s;

  span {
    color: $hover-color;
    font-weight: 600;
    font-size: $fs0;
    font-family: $primary-font;
    max-width: 100%;
    margin: 0 auto;
  }

  &:hover,
  &:active,
  &:focus {
    border: 2px solid $hover-color;
    background: $hover-color;
    box-shadow: none;

    span {
      color: #FFF;
    }
  }
}


