// Card is styles for basic card layout (image, header, excerpt and link).
// Follow these class names in HTML markup
@mixin card() {
  text-align: center;
  .card__image {
    width: 100%;
    height: auto;
  }

  .card__heading {
    @include heading($fs1);
    margin-top: $spacer2;
    margin-bottom: 0;

    @media(max-width: $mw__screen__s) {
      font-size: 1.15rem !important;
    }
  }

  .card__excerpt {
    margin-top: $spacer2;
    margin-bottom: 0;
  }

  .card__link {
    @include link-arrow();
    display: block;
    margin-top: $spacer2;
    margin-bottom: 0;
  }
}

// Used for full width rows of cards e.g. blog posts.
@mixin card-container--2() {
  display: flex;
  justify-content: space-between;
  margin-top: $spacer2;

  @media(max-width: $mw__screen__s) {
    flex-direction: column;
    margin-top: 0;

    .card {
      width: 100% !important;
      margin-top: $spacer2 !important;

      p {
        line-height: 1.2;
      }

      .card__heading {
        margin-top: $spacer4 !important;
      }
    }
  }

  .card {
    margin-top: $spacer2;
    width: calc(98% / 2);
  }
}

@mixin card-container--3() {
  display: flex;
  justify-content: space-between;
  margin-top: $spacer3;

  @media(max-width: $mw__screen__s) {
    margin-bottom: $spacer2;
  }

  .card {
    margin-top: $spacer2;
    margin-top: 0;
    width: calc(96% / 3);

    @media(max-width: $mw__screen__s) {
      width: 48%;
      &:last-child {
        display: none;
      }
    }

    p {
      @media(max-width: $mw__screen__s) {
        line-height: 1.2;
      }
    }
  }
}

@mixin card-container--4() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $spacer3;

  @media(max-width: $mw__screen__s) {
    margin-bottom: $spacer2;
  }

  .card {
    margin-top: $spacer2;
    margin-top: 0;
    width: 49%;
    margin-right: 2%;
    text-align: center;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    @media (min-width: $screen__m) {
      width: calc((100% - 2% - 2% - 2%) / 4);
      margin-right: 2%;

      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }

    p {
      @media(max-width: $mw__screen__s) {
        line-height: 1.2;
      }
    }
  }
}



