@mixin heading($font-size, $color: $primary-header-color){
  font-family: $primary-font;
  font-weight: 600;
  font-size: $font-size;
  color: $color;
}

@mixin heading-border($font-size, $color: $primary-header-color){
  font-family: $primary-font;
  font-weight: 600;
  font-size: $font-size;
  color: $color;
  padding: 15px 20px;
  border: 1px solid $grey-border;
}
