// Generate sprite image after element, adjust position with x & y offset values, (0px, 0px)  is center;
@mixin bg-image($image, $x-off: 0px, $y-off: 0px) {
  background-image: url($image);
  background-position: calc(50% - #{$x-off}) calc(50% - #{$y-off});
  background-repeat: no-repeat;
}

@mixin icon-bg($icon-code, $icon-family: 'Luma-Icons', $font-size: 22px, $color: $primary-body-color, $x-off: 0px, $y-off: 0px) {
  position: relative;

  &:after {
    -webkit-font-smoothing: antialiased;
    content: $icon-code;
    font-size: $font-size;
    color: $color;
    font-family: $icon-family;
    position: absolute;
    @include centerer($x-off, $y-off);
    font-weight: 400;
  }
}

@mixin close-button($top: 10px, $right: 10px, $background-color: transparent) {
  background: url("../images/icons/close.svg") center no-repeat $background-color !important;
  background-size: cover;
  @include border-radius(50%);
  top: $top;
  right: $right;
  width: 30px;
  height: 30px;
  padding: 0;

  &:before {
    display: none;
  }

  &:hover {
    background-color: $background-color;
    background: url("../images/icons/close.svg") center no-repeat;
    background-size: cover;
  }
}
