.ratio-image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.no-image-set {
    background-size: initial;
    background-position: bottom 5px right 5px;
    background-color: $grey-light;
  }
}