@mixin input($height: 45px) {
  border: 1px solid $grey-border;
  font-family: $primary-font !important;
  font-size: $fs0;
  height: $height;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */
  padding-top: 0;
  padding-bottom: 0;
  &:focus{
    box-shadow: 0 0 3px 1px $primary-brand-color;
  }
}