@mixin link($color: $primary-brand-color, $hover-color: $hover-brand-color) {
  color: $color;
  transition: ease .3s color;

  &:visited {
    color: $color;
  }

  &:hover, &:focus, &:active {
    color: $hover-color;
    text-decoration: none;
  }
}

@mixin link-arrow() {
  @include link;
  font-weight: 600;
  position: relative;
  display: inline-block !important;

  &::after {
    @include centererVertical();
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    right: -20px;
    background-image: url('../images/icons/arrow-link.svg');
    background-size: contain;
  }
}
