.pager {
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
  ul.items.pages-items {

    li {
      margin-right: $spacer2;
      padding: $spacer2 0;
      a {
        font-weight: 400;
        color: $primary-header-color;
        font-size: $fs0;
      }

      &.item.current {
        border-bottom: 4px solid $primary-brand-color;
        strong {
          font-size: $fs0;
        }
      }
    }
  }

  li.item.pages-item-next, li.item.pages-item-previous {
    a {
      font-size: 12px;
      border: 0;
      margin: 0;

      &::before {
        font-size: 32px;
        color: $primary-header-color;
        margin:0;
      }
    }
  }
}